h1{
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	font-size: 42px;
	text-align: center;
}

h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
	text-decoration: underline;
	margin-bottom: 5%;
}
.skip a{
	font-family: 'Varela', sans-serif;
	background: white;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position: absolute;
	top: -40px;
  }
  
.skip a:focus{
	position: absolute;
	top: 0px;
  }

p{
	font-family: 'Varela', sans-serif;
	font-size: 14px;
}
button{
	font-family: 'Varela', sans-serif;
	margin-top: 10%;
}
/* Navigation CSS */
header{
	font-family: 'Varela', sans-serif;
	font-size: 12px;
	z-index: 1;
}
nav{
	padding-top: 15px;
	padding-inline-start: 5%;
	padding-inline-end: 5%;
}
ul {
	list-style-type: none;
	margin: 1%;
	padding: 0;
	overflow: hidden;
	background-color: #FFF;
  }
  
nav li {
	float: right;
  }
  
nav li a {
	display: block;
	text-align: center;
	padding: 15px;
	text-decoration: none;
  }
  
nav li {
	text-align: center;
	display: inline;
	margin: 0;
}

nav a, div a{
	color: black;
	text-decoration: none;
}

nav a:active{
	background: white;
	padding: 15px;
}

nav li:hover{
	text-decoration: underline;
	border: 3px groove #C2D7DA; 
}

nav li .current{
	text-decoration: underline;
	padding: 15px;
}

.currentpage{
	background-color: #C2D7DA;
	color: #FFF;
	font-weight: bold;
}

.navbar-toggle {
	display: none;
}
.mainphotocontainer{
	opacity: 0.4;
	position: relative;
	margin-bottom: -4px;
  }

.mainheader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }

.content{
	display: grid;
	grid-template-rows: repeat(4,auto);
	grid-template-columns: repeat(2, auto);
  }

.school{
	grid-row: 1 / 2;
	grid-column: 2/ 3;
	padding: 10% 10% 0% 10%;

}

.schoolimage{
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.surf {
	grid-column: 1/2;
	grid-row: 2/3;
	background-color: #C2D7DA;
	padding: 10% 10% 0% 10%;
}

.surfimage{
	grid-column: 2 /auto;
	grid-row: 2/3;
	background-color: #C2D7DA;
	
}

.food{
	grid-column: 2/ auto;
	grid-row: 3/4;
	padding: 10% 10% 0% 10%;
}

.foodimage{
	grid-column: 1 / 2;
	grid-row: 3/4;
}


.fun {
	grid-column: 1/2;
	grid-row: 4/5;
	background-color: #C2D7DA;
	padding: 10% 10% 0% 10%;
}

.funimage{
	grid-column: 2 / auto;
	grid-row: 4/5;
	background-color: #C2D7DA;
}


footer{
	background-color: white;
	text-align: center;
	margin: 44px;
	margin-top: 20px;
	padding: 20px;

}

.footer-items a{
	margin: 20px;
	color: black;
}

div.footer-items{
	margin-bottom: 30px;
}

.footer-items a:active, .footer-items a:hover{
	color: #C2D7DA;
}


@media only screen and (min-width: 768px) {
h1{
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
}

h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 32px;
	text-decoration: underline;
	margin-bottom: 5%;
}
}