h1{
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
}

.pageheader{
	font-size: 28px;
	padding: 0% 3% 0% 3%;
}

h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
	text-decoration: underline;
	margin-top: 7%;
	margin-bottom: 3%;
}

h3{
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
	text-decoration: underline;
}

.skip a{
	font-family: 'Varela', sans-serif;
	background: white;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position: absolute;
	top: -40px;
  }
  
.skip a:focus{
	position: absolute;
	top: 0px;
  }

p{
	font-family: 'Varela', sans-serif;
	font-size: 14px;
}
button{
	font-family: 'Varela', sans-serif;
	display: block;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: auto;
	margin-right: auto;
}
/* Navigation CSS */
header{
	font-family: 'Varela', sans-serif;
	font-size: 12px;
	z-index: 1;
}
nav{
	padding-top: 15px;
	padding-inline-start: 5%;
	padding-inline-end: 5%;
}
ul {
	list-style-type: none;
	margin: 1%;
	padding: 0;
	overflow: hidden;
	background-color: #FFF;
  }
  
nav li {
	float: right;
  }
  
nav li a {
	display: block;
	text-align: center;
	padding: 15px;
	text-decoration: none;
  }
  
nav li {
	text-align: center;
	display: inline;
	margin: 0;
}

nav a, div a{
	color: black;
	text-decoration: none;
}

nav a:active{
	background: white;
	padding: 15px;
}

nav li:hover{
	text-decoration: underline;
	border: 3px groove #C2D7DA; 
}

nav li .current{
	text-decoration: underline;
	padding: 15px;
}
/* Hamburger Menu Attempts
.mobile-container {
	max-width: 480px;
	margin: auto;
	background-color: #555;
	height: 500px;
	color: white;
	border-radius: 10px;
  }
  
  .topnav {
	overflow: hidden;
	background-color: #333;
	position: relative;
  }
  
  .topnav #myLinks {
	display: none;
  }
  
  .topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  }
  
  .topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .currentpage {
	background-color: #4CAF50;
	color: white;
  }
 
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
	bottom: 0;
	display: block;
}
.navTrigger i {
    background-color: white;
    border-radius: 2px;
    content: '';
    display: block;
    width: 120%;
    height: 4px;
}
.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

i {
    font-style: italic;
}
*/

#side-menu{
	display: none;
	width: 100%;
}


#ham-button{
	display: block;
	margin-top: 0;
	margin-left: auto;
	margin-right: 2%;
	border: none;
	background-color: #C2D7DA;
}

.currentpage{
	background-color: #C2D7DA;
	color: #FFF;
	font-weight: bold;
}

.navbar-toggle {
	display: none;
}

.mainphotocontainer{
	opacity: 0.4;
	position: relative;
	margin-bottom: -4px;
  }

.mainheader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }

.content{
	display: block;
	padding: 5%;
	background-color: #C2D7DA;
  }

.funimage, .foodimage, .surfimage, .schoolimage{
	margin-bottom: 7%;
}

ul.schoolquotes, ul.classlist{
	font-family: 'Varela', sans-serif;
	font-size: 14px;
	padding-left: 4%;
	list-style-type: square;
}

.usydopinion{
	padding: 1% 3%;
	font-family: 'Varela', sans-serif;
	font-size: 14px;
}

.animaluncrossing{
	text-decoration: underline;
	color: blue;
}

.parallaxsurf {
	background-image: url("surfpexels.jpg");
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
  }

  .parallaxfun {
	background-image: url("IMG_0684.jpeg");
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 350px;
  }

.subheaders{
	padding-left: 3%;
  }

.surfinstructions{
	display: block;
	padding-top: 2%;
}

.step1, .step2, .step3, .step4, .step5{
	padding: 2%;
}

h4{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	text-decoration: underline;
}

.food1, .food2, .food3, .food4, .food5, .food6, .food7, .food8, .food9, .food10, .food11, .food12 {
	display: block;
	width: 100%;
	height: auto;
	padding: 3%;
}

.food1container, .food2container, .food3container, .food4container, .food5container, .food6container, .food7container, .food8container, .food9container, .food10container, .food11container, .food12container {
	position: relative;
  }
  

.food1overlay, .food2overlay, .food3overlay, .food4overlay, .food5overlay, .food6overlay, .food7overlay, .food8overlay, .food9overlay, .food10overlay, .food11overlay, .food12overlay  {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s;
	background-color: #C2D7DA;
  }
  
.food1container:hover .food1overlay, .food2container:hover .food2overlay, .food3container:hover .food3overlay, .food4container:hover .food4overlay, .food5container:hover .food5overlay, .food6container:hover .food6overlay, .food7container:hover .food7overlay, .food8container:hover .food8overlay, .food9container:hover .food9overlay, .food10container:hover .food10overlay, .food11container:hover .food11overlay, .food12container:hover .food12overlay {
	opacity: 0.9;
  }
  
.food1text, .food2text, .food3text, .food4text, .food5text, .food6text, .food7text, .food8text, .food9text, .food10text, .food11text, .food12text  {
	color: #000000;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Varela', sans-serif;
  }

.balifun{
	padding: 1% 3%;
	font-family: 'Varela', sans-serif;
	font-size: 14px;
}

.photo-album1{
	margin-top: 5%;
	margin-bottom: 50%;
	height: 5000px;
}

.polaroid1, .polaroid2, .polaroid3, .polaroid4, .polaroid5, .polaroid6, .polaroid7, 
.polaroid8, .polaroid9, .polaroid10, .polaroid11, .polaroid12, .polaroid13, .polaroid14 {
	width: 300px;
	padding: 10px 10px 20px 10px;
	border: 1px solid #BFBFBF;
	background-color: white;
	-webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
	-moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
	box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}

.pull-right.polaroid1, .pull-right.polaroid3, .pull-right.polaroid5, .pull-right.polaroid7, .pull-right.polaroid9, .pull-right.polaroid11, .pull-right.polaroid13 {
	-webkit-transform: rotate(-9deg);
	-moz-transform: rotate(-9deg);
	transform: rotate(-9deg);
}

.pull-right.polaroid2, .pull-right.polaroid4, .pull-right.polaroid6, .pull-right.polaroid8, .pull-right.polaroid10, .pull-right.polaroid12, .pull-right.polaroid14 {
	-webkit-transform: rotate(9deg);
	-moz-transform: rotate(9deg);
	transform: rotate(9deg);
}

footer{
	background-color: white;
	text-align: center;
	margin: 44px;
	margin-top: 20px;
	padding: 20px;

}

.footer-items a{
	margin: 20px;
	color: black;
}

div.footer-items{
	margin-bottom: 30px;
}

.footer-items a:active, .footer-items a:hover{
	color: #C2D7DA;
}


/* For Tablet */
@media only screen and (min-width: 600px) {
	h1{
		font-family: 'Permanent Marker', cursive;
		font-weight: bold;
		font-size: 38px;
		text-align: center;
	}
	
	.pageheader{
		font-size: 32px;
	}

	h2{
		font-family: 'Permanent Marker', cursive;
		font-size: 28px;
		text-decoration: underline;
		margin-bottom: 3%;
		margin-top: 0%;
	}

	h3{
		font-family: 'Permanent Marker', cursive;
		font-size: 28px;
		text-decoration: underline;
		padding-left: 3%;
	}

	hr{
		opacity: 0;
	}

	button{
		font-family: 'Varela', sans-serif;
		margin-top: 5%;
	}


	.content{
		display: grid;
		grid-template-rows: repeat(4,auto);
		grid-template-columns: repeat(2, auto);
		padding: 0;
		background-color: #FFF;
	  }
	
	.school{
		grid-row: 1 / 2;
		grid-column: 2/ 3;
		padding: 7% 7% 0% 7%;
	
	}
	
	.schoolimage{
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}
	
	.surf {
		grid-column: 1/2;
		grid-row: 2/3;
		background-color: #C2D7DA;
		padding: 7% 7% 0% 7%;
	}
	
	.surfimage{
		grid-column: 2 /auto;
		grid-row: 2/3;
		background-color: #C2D7DA;
		
	}
	
	.food{
		grid-column: 2/ auto;
		grid-row: 3/4;
		padding: 7% 7% 0% 7%;
	}
	
	.foodimage{
		grid-column: 1 / 2;
		grid-row: 3/4;
	}
	
	.fun {
		grid-column: 1/2;
		grid-row: 4/5;
		background-color: #C2D7DA;
		padding: 7% 7% 0% 7%;
	}
	
	.funimage{
		grid-column: 2 / auto;
		grid-row: 4/5;
		background-color: #C2D7DA;
	}

	.funimage, .foodimage, .surfimage, .schoolimage{
		margin-bottom: 0%;
	}
	
	ul.schoolquotes, ul.classlist{
		font-size: 18px;
	}
	
	.parallaxsurf {
		background-image: url("surfpexels.jpg");
		background-attachment: scroll;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 400px;
	  }

	  .parallaxfun {
		background-image: url("IMG_0684.jpeg");
		background-attachment: scroll;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 500px;
	  }
	  
	.surfheaders{
		padding-left: 5%;
	}

	.surfinstructions{
		display: grid;
		grid-template-columns: 1fr 8fr;
		grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
		padding-top: 2%;
		padding-right: 4%;
	}

	.number1, .number2, .number3, .number4, .number5{
		grid-column: 1/2;
	}

	.step1, .step2, .step3, .step4, .step5{
		grid-column: 2/3;
		padding: 0%;
	}

	.number1, .step1{
		grid-row: 1/2;
	}

	.number2, .step2{
		grid-row: 3/4;
	}

	.number3, .step3{
		grid-row: 5/6;
	}

	.number4, .step4{
		grid-row: 7/8;
	}

	.number5, .step5{
		grid-row: 9/10;
	}

	.brekkie{
		display: grid;
		grid-template-columns: repeat(2,auto);
	}

	.lunch{
		display: grid;
		grid-template-columns: repeat(2,auto);
	}

	.drinks{
		display: grid;
		grid-template-columns: repeat(2,auto);
	}

	.desserts{
		display: grid;
		grid-template-columns: repeat(2,auto);
	}
/*
	.desserts{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		max-width: 33%;
		height: auto;
	}
	*/

	.food1, .food2, .food3, .food4, .food5, .food6, .food7, .food8, .food9, .food10, .food11, .food12 {
		padding: 3%;	
	}

	.photo-album1 {
		position: relative;
		width: 80%;
		margin: 0 auto;
		max-width: 70em;
		height: 1400px;
		margin-top: 5em;
		min-width: 900px;
		max-width: 1000px;
		margin-bottom: 0%;
	}

	.polaroid1, .polaroid2, .polaroid3, .polaroid4, .polaroid5, .polaroid6, .polaroid7, .polaroid8, .polaroid9,
	.polaroid10, .polaroid11, .polaroid12, .polaroid13, .polaroid14 {
		padding: 20px 20px 30px 20px;
		border: 2px solid #BFBFBF;
		background-color: white;
		-webkit-box-shadow: 3px 3px 4px rgba(135, 139, 144, 0.4);
		-moz-box-shadow: 3px 4px 4px rgba(135, 139, 144, 0.4);
		box-shadow: 3px 3px 4px rgba(135, 139, 144, 0.4);
		margin-bottom: 0%;
		margin-left: 0;
		margin-right: 0;
		display: inline-block;
	
	}

	.polaroid1, .polaroid5, .polaroid10 {
		width: 300px;
	}

	.polaroid2, .polaroid7, .polaroid12, .polaroid14{
		width: 250px;
	}
	
	.polaroid3, .polaroid9, .polaroid13{
		width: 275px;
	}

	.polaroid4, .polaroid6, .polaroid8, .polaroid11{
		width: 200px;
	}
	
	.pull-right.polaroid1,  .pull-right.polaroid11{
		-webkit-transform: rotate(-9deg);
		-moz-transform: rotate(-9deg);
		transform: rotate(-9deg);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}

	.pull-right.polaroid2, .pull-right.polaroid12 {
		-webkit-transform: rotate(19deg);
		-moz-transform: rotate(19deg);
		transform: rotate(19deg);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}

	.pull-right.polaroid3, .pull-right.polaroid13 {
		-webkit-transform: rotate(-14deg);
		-moz-transform: rotate(-14deg);
		transform: rotate(-14deg);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}

	.pull-right.polaroid4, .pull-right.polaroid14 {
		-webkit-transform: rotate(9deg);
		-moz-transform: rotate(9deg);
		transform: rotate(9deg);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}

	.pull-right.polaroid5 {
		-webkit-transform: rotate(-9deg);
		-moz-transform: rotate(-9deg);
		transform: rotate(-9deg);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}

	.pull-right.polaroid6 {
		-webkit-transform: rotate(19deg);
		-moz-transform: rotate(19deg);
		transform: rotate(19deg);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}

	.pull-right.polaroid7 {
		-webkit-transform: rotate(-14deg);
		-moz-transform: rotate(-14deg);
		transform: rotate(-14deg);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}

	.pull-right.polaroid8 {
		-webkit-transform: rotate(9deg);
		-moz-transform: rotate(9deg);
		transform: rotate(9deg);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}

	.pull-right.polaroid9 {
		-webkit-transform: rotate(14deg);
		-moz-transform: rotate(14deg);
		transform: rotate(14deg);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}

	.pull-right.polaroid10 {
		-webkit-transform: rotate(-14deg);
		-moz-transform: rotate(-14deg);
		transform: rotate(-14deg);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}

	.pull-right.polaroid1:hover, .pull-right.polaroid1:focus, .pull-right.polaroid1:active, .pull-right.polaroid2:hover, .pull-right.polaroid2:focus, .pull-right.polaroid2:active, 
	.pull-right.polaroid3:hover, .pull-right.polaroid3:focus, .pull-right.polaroid3:active, .pull-right.polaroid4:hover, .pull-right.polaroid4:focus, .pull-right.polaroid4:active, 
	.pull-right.polaroid5:hover, .pull-right.polaroid5:focus, .pull-right.polaroid5:active, .pull-right.polaroid6:hover, .pull-right.polaroid6:focus, .pull-right.polaroid6:active, 
	.pull-right.polaroid7:hover, .pull-right.polaroid7:focus, .pull-right.polaroid7:active, .pull-right.polaroid8:hover, .pull-right.polaroid8:focus, .pull-right.polaroid8:active,
	.pull-right.polaroid9:hover, .pull-right.polaroid9:focus, .pull-right.polaroid9:active, .pull-right.polaroid10:hover, .pull-right.polaroid10:focus, .pull-right.polaroid10:active, 
	.pull-right.polaroid11:hover, .pull-right.polaroid11:focus, .pull-right.polaroid11:active, .pull-right.polaroid12:hover, .pull-right.polaroid12:focus, .pull-right.polaroid12:active, 
	.pull-right.polaroid13:hover, .pull-right.polaroid13:focus, .pull-right.polaroid13:active, .pull-right.polaroid14:hover, .pull-right.polaroid14:focus, .pull-right.polaroid14:active    {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

}

/* For Desktop */
@media only screen and (min-width: 768px) {
h1{
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
}

.pageheader{
	font-size: 36px;
	text-decoration: underline;
}

h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 32px;
	text-decoration: underline;
	margin-bottom: 5%;
}

h3{
	font-family: 'Permanent Marker', cursive;
	font-size: 28px;
	text-decoration: underline;
	padding-left: 3%;
}

button{
	font-family: 'Varela', sans-serif;
	margin-top: 10%;
}

#ham-button{
	display: none;
}

#side-menu{
	display: block;
}

.content{
	display: grid;
	grid-template-rows: repeat(4,auto);
	grid-template-columns: repeat(2, auto);
	background-color: #FFF;
  }

.school{
	grid-row: 1 / 2;
	grid-column: 2/ 3;
	padding: 10% 10% 0% 10%;

}

.schoolimage{
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.surf {
	grid-column: 1/2;
	grid-row: 2/3;
	background-color: #C2D7DA;
	padding: 10% 10% 0% 10%;
}

.surfimage{
	grid-column: 2 /auto;
	grid-row: 2/3;
	background-color: #C2D7DA;	
}

.food{
	grid-column: 2/ auto;
	grid-row: 3/4;
	padding: 10% 10% 0% 10%;
}

.foodimage{
	grid-column: 1 / 2;
	grid-row: 3/4;
}

.fun {
	grid-column: 1/2;
	grid-row: 4/5;
	background-color: #C2D7DA;
	padding: 10% 10% 0% 10%;
}

.funimage{
	grid-column: 2 / auto;
	grid-row: 4/5;
	background-color: #C2D7DA;
}

.usyd{
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.schoolpics, .surfpics{
	display: flex;
	flex-flow: row wrap;
	padding-left: 5%;
}

.school1container, .school2container, .school3container{
	padding: 2%;
	width: 400px;
}

.surf1container, .surf2container, .surf3container{
	padding: 1%;
	width: 420px;
}

.parallaxsurf {
	/* The image used */
	background-image: url("surfpexels.jpg");
  
	/* Set a specific height */
	height: 500px;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallaxfun {
	/* The image used */
	background-image: url("IMG_0684.jpeg");
  
	/* Set a specific height */
	height: 600px;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h4{
	font-size: 32px;	
}
.number1, .number2, .number3, .number4, .number5{
	grid-column: 1/2;
}
.step1, .step2, .step3, .step4, .step5{
	grid-column: 2/3;
}
.brekkie{
	display: grid;
	grid-template-columns: repeat(3,auto);
}

.lunch{
	display: grid;
	grid-template-columns: repeat(3,auto);
}

.drinks{
	display: grid;
	grid-template-columns: repeat(3,auto);
}

.desserts{
	display: grid;
	grid-template-columns: repeat(3,auto);
}

.food1, .food2, .food3, .food4, .food5, .food6, .food7, .food8, .food9, .food10, .food11, .food12 {
	padding: 5%;	
}

}

@media (prefers-reduced-motion: reduce){
	* {
		animation: none;
	}
}
