h1{
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
}

h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
	text-decoration: underline;
	margin-bottom: 1%;
}

p{
	font-family: 'Varela', sans-serif;
}
button{
	font-family: 'Varela', sans-serif;
	margin: 1%;
}
/* Navigation CSS */
header{
	font-family: 'Varela', sans-serif;
	font-size: 12px;
	z-index: 1;
}
nav{
	padding-top: 15px;
	padding-inline-start: 5%;
	padding-inline-end: 5%;
}
ul {
	list-style-type: none;
	margin: 1%;
	padding: 0;
	overflow: hidden;
	background-color: #FFF;
  }
  
nav li {
	float: right;
  }
  
nav li a {
	display: block;
	text-align: center;
	padding: 15px;
	text-decoration: none;
  }
  
nav li {
	text-align: center;
	display: inline;
	margin: 0;
}

nav a, div a{
	color: black;
	text-decoration: none;
}

nav a:active{
	background: white;
	padding: 15px;
}

nav li:hover{
	text-decoration: underline;
	background-color: #C2D7DA;
}

nav li .current{
	text-decoration: underline;
	padding: 15px;
}

.navbar-toggle {
	display: none;
}
.mainphotocontainer{
	opacity: 0.4;
	position: relative;
  }

.mainheader{
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	font-size: 48px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }

#school{
	text-align: right;
	padding: 5%;
}

#schoolimage{
	display: block;
	margin-right: auto;
	width: 30%;
}

#surf {
	background-color: #C2D7DA;
	padding: 5%;
}

#surfimage{
	display: block;
	margin-left: auto;
	width: 30%;
}

#food{
	text-align: right;
	padding: 5%;
}

#foodimage{
	display: block;
	margin-right: auto;
	width: 30%;
}

#fun {
	background-color: #C2D7DA;
	padding: 5%;
}

#funimage{
	display: block;
	margin-left: auto;
	width: 30%;
}

footer{
	background-color: white;
	text-align: center;
	margin: 44px;
	margin-top: 20px;
	padding: 20px;

}

.footer-items a{
	margin: 20px;
	color: black;
}

div.footer-items{
	margin-bottom: 30px;
}

.footer-items a:active, .footer-items a:hover{
	color: #C2D7DA;
}